body{
  font-family: Arial;
}
.solids {
background-color: #FFFACD;
}
.liquids {
background-color: #B0E0E6;
}
.gases {
background-color: #FFDAB9;
}
.artificial {
background-color: #98FB98;
}
.bold {
  font-weight:bold;
}
ul {
  list-style: none;
  margin-left: -25px;
}
table, th, td {
  border: 1px solid black;
}
.left100 {
  margin-left:100px;
}
.bottom50 {
  margin-bottom: 50px;
}
/* use hidden versus diplay none to keep layout */
.hidden {
  visibility: hidden;
}
.bigfont1 {
  font-weight: bold;
  font-size: 1em
}
.bigfont2 {
  font-weight: bold;
  font-size: 2em
}
li:first-child::before {
  color: green;
  /* screen reader does not read this is display content: 'working '; */
}
li:nth-child(2)::before {
  color: red;
  /* content: 'also working ';*/
}
