.solids {
background-color: #FFFACD;
}
.liquids {
background-color: #B0E0E6;
}
.gases {
background-color: #FFDAB9;
}
.artificial {
background-color: #98FB98;
}
.bold {
  font-weight:bold;
}
ul {
  list-style: none;
  padding-right: 12px;
}
table, th, td {
  border: 1px solid black;
}
.left100 {
  margin-left:100px;
}
.bottom50 {
  margin-bottom: 50px;
}
/* use hidden versus diplay none to keep layout */
.hidden {
  visibility: hidden;
}
button {
  width: 100%;
  background-color: black;
  color: white;
  boder: 1px solid black;
}
/* at stands for assistive technology screen-reader only */
.at {
  width:1px;
  height:1px;
}
